<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="EnjoyGameModel.GameModelProtocolDir" value="C:\Protocols\"/>
    <add key="EnjoyGameModel.TeamRegistryFile" value="C:\Settings\teams-demo.xml"/>
  </appSettings>
  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
      <behaviors>
          <serviceBehaviors>
              <behavior>
                  <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
                  <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
                  <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
                  <serviceDebug includeExceptionDetailInFaults="false"/>
              </behavior>
          </serviceBehaviors>
          <endpointBehaviors>
              <behavior name="jsonBehavior">
                  <webHttp />
              </behavior>
          </endpointBehaviors>
      </behaviors>
      <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
      <services>
          <service name="GameModel.WebService.ClientService">
              <endpoint binding="basicHttpBinding" contract="GameModel.WebService.IClientService"/>
              <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="GameModel.WebService.IClientService"/>
          </service>
          <service name="GameModel.WebService.AdminService">
              <endpoint binding="basicHttpBinding" contract="GameModel.WebService.IAdminService"/>
              <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="GameModel.WebService.IAdminService"/>
          </service>
      </services>
  </system.serviceModel>
  <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
      <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
      <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
